body{
    margin-left: 0px;
    margin-top: 20px;
}

header{
    background-color: purple;
    height: 100px;
}
header h1{
    text-align: center;
    color: white;
    margin: 0px;
    padding-top: 30px;
}

button{
    margin: 5px;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
}

section{
    display: flex;
    flex-flow: row; 
}
section article{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    flex: 3 1 200px;
}

#desplega{
    flex: 3 1 200px; /*[flex-grow] [flex-shrink] [flex-basis];*/
    display: flex;
    flex-flow: column; /*Es un atajo para flex-direction y flex-wrap:
    flex-direction: column; → Los elementos internos se colocarán en columna (uno debajo del otro) en lugar de en fila.
    flex-wrap: nowrap; (valor por defecto) → No se dividirán en múltiples líneas, sino que se ajustarán dentro del contenedor.*/
}

#uno{
    display: flex;
    flex: 1 1 100px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

button{
    flex: 1 1 100px;
    margin: 5px;
    font-size: 10px;
    padding: 5px;
}

@media screen and (max-width: 800px){
    header h1{
        color: rgb(123, 240, 102);
    }
    section{
        flex-flow: column; 
    }
}