body{
    display: grid; /*Con esto le decimos que toda la pagina sea grid y afecten los
    cambios de grid a toda la página*/
    grid-template-columns: repeat(2,1fr);/*2 columnas de cada una 1 fracción,
    las columnas hay que poner las efectivas, es decir, si queremos que esté dividida
    la web en 2 columnas pues ponemos 2 aunque luego podemos usar hasta la "3" por
    así decirlo porque en realidad la 3 es el final de la 2*/
    grid-template-rows: repeat(14,80px);/*Ponemos que hay 14 filas y cada fila son 
    80px esto es totalmente personalizable, esto depende de lo que pidan en el
    ejercicio, ponemos 14 porque cada fila OCUPA 80px*/
    width: 100%;/*Que el grid ocupe el 100% del ancho de la página*/
}

.item1{
    grid-row: 1/5;/*Con esto le decimos que ocupe de la fila 1 a la 5*/
    grid-column: 1/3;/*Lo mismo pero con columnas, este es el apartado de la foto*/
    background-color: black;
}
.item2{
    grid-row: 5/9;
    grid-column: 1/2;/*Este es el apartado que está dividido por dos textos*/
    background-color: green;
}
.item3{
    grid-row: 5/9;
    grid-column: 2/3;
    background-color: red;
}
.item4{
    grid-row: 8/14;
    grid-column: 1/3;
    background-color: blue;
}
.item5{
    grid-row: 14/16;
    grid-column: 1/2;
    background-color: violet;
}
.item6{
    grid-row: 14/16;
    grid-column: 2/3;
    background-color: black;
}

@media (max-width:850px){/*Aqui lo que estamos haciendo es hacer el responsive de
    cuando baje de 850px la pantalla, cambiamos esto:
    ejemplo: item2: grid row:5/9 -> 5/7
           grid column: 1/2 -> 1/3 -> Con esto lo que conseguimos es que se ponga en
           toda la pantalla, es decir, en todo el ancho y con los rows le decimos si
           se pone arriba o abajo del elemento que queremos*/
    .item1{
        grid-row: 1/5;
        grid-column: 1/3;
        background-color: black;
    }
    .item2{
        grid-row: 5/7;
        grid-column: 1/3;/*Este es el apartado que está dividido por dos textos*/
        background-color: green;
    }
    .item3{
        grid-row: 7/9;
        grid-column: 1/3;
        background-color: red;
    }
    .item4{
        grid-row: 9/12;
        grid-column: 1/3;
        background-color: blue;
    }
    .item5{
        grid-row: 12/14;
        grid-column: 1/3;
        background-color: violet;
    }
    .item6{
        grid-row: 14/16;
        grid-column: 1/3;
        background-color: black;
    }
}